.activeWhite {
    background-color: #fff;
    color: #333,
}

.activeUnderlined {
    border-bottom: 1px solid black;
}
.unactiveUnderlined {
    border-bottom: none;
}


.transparentBtn {
    background-color: transparent;
    color: #fff;
}

